{
    "name":         "nog.bosromania.ro",
    "host":         "nog.bosromania.ro",
    "protocol":     "ftp",
    "port":         21,
    "username":     "{{user.dev.name}}@nog.bosromania.ro",
    "password":     "{{user.dev.pass}}",
    "context":      "challenge/errors",
    "remotePath":   "/",
    "ignore":       [
        ".vscode/", ".git/", ".well-known/", "cgi-bin/", ".ftpquota", ".gitignore"
    ],
    "uploadOnSave": true
}
